<%# app/views/layouts/_navbar_mobile_category.html.erb %>
<% depth = local_assigns.fetch(:depth, 0) %>
<div class="py-1 relative">
  <div class="flex items-center justify-between px-3">
    <%= link_to category.localized_name, send("#{kind}_channel_path", category_id: category.id),
        class: "block py-2 text-sm text-slate-400 hover:text-white flex-grow",
        style: "padding-left: #{depth * 1.5}rem" %>
    
    <% if category.children.any? %>
      <button type="button" data-action="click->navbar#toggleDropdown" class="text-slate-500 p-2 focus:outline-none ml-2">
        <svg class="w-4 h-4 transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
    <% end %>
  </div>

  <% if category.children.any? %>
    <div class="hidden dropdown-container pl-4 border-l border-slate-700/30 ml-4 mt-1 space-y-1 overflow-hidden transition-all duration-300">
      <% category.children.each do |sub_cat| %>
        <%= render 'layouts/navbar_mobile_category', category: sub_cat, kind: kind, depth: depth + 1 %>
      <% end %>
    </div>
  <% end %>
</div>
